body {
    z-index: 1;
}

.hero + script + :is(*:not(.columns, .rows), .columns > .column, .rows > .row) {
    background-color: white;
}

.hero + * {
    &:not(.grid), &.grid > * {
        animation: afterHero linear both;
        animation-duration: auto;
        animation-timeline: view();
        animation-range: contain 0% contain 50%;
    }
    &.grid > :first-child {
        --dir: -1;
    }
    &.grid > :last-child {
        --dir: 1;
    }

    :last-child {
        margin-bottom: 0;
    }

    @keyframes afterHero {
        from {
            transform: translateX(calc(var(--dir)*100%))
        }
    }
}

.hero {
    $_span-amt: 2;
    $_gap: 20px;

    position: relative;

    box-sizing: border-box;

    height: #{$_span-amt*100dvh};
    max-width: 100%;

    &__content {
        position: sticky;
        inset: 0;

        height: 100dvh;
    }
    &__columns {
        position: absolute;
        inset: 0;
        height: inherit;

        display: flex;
        justify-content: space-evenly;
        gap: $_gap;
        overflow: hidden;

        z-index: -1;
    }
    &__column {
        box-sizing: border-box;
        padding-block: #{$_gap / 2};

        height: 200dvh;
        max-width: 100%;

        display: flex;
        flex-direction: column;
        gap: $_gap;
        aspect-ratio: 3 / 36;

        animation: stickyHero linear both;
        animation-duration: auto;
        animation-timeline: scroll(root block);
        animation-range: cover 0% cover 100%;

        &:nth-child(even) {
            --start: -100dvh;
            --end: 0;
        }
        &:nth-child(odd) {
            --start: 0;
            --end: -100dvh;
        }
        
        @keyframes stickyHero {
            0% {
                transform: translateY(var(--start));
            }
            100% {
                transform: translateY(var(--end));
            }
        }
        
        &__image {
            flex: 1;

            aspect-ratio: 3 / 4;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            object-fit: cover;
        }
    }
}