.scroll {
    
    &__thing {
        display: grid;
        grid-template-rows: repeat(var(--rows), 1fr);
    }

    &__row {
        padding: var(--padding, 1rem);

        display: flex;
        gap: var(--padding, 1rem);
        
        &__item {
            flex: 1;
        }
    }

}