---
// Layouts
import Layout from '../layouts/Layout.astro';
import Grid from '../layouts/Grid.astro'
---

<Layout title="Home">
	<Grid direction="row">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolores a maiores, nobis voluptates fugiat accusantium obcaecati blanditiis libero eius deserunt, ea nisi maxime in magnam, atque tenetur nesciunt hic?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aut itaque voluptas iste molestiae explicabo eligendi. Praesentium porro minima ab ipsum impedit temporibus similique, tenetur eveniet, officia assumenda magnam eaque?</p>
	</Grid>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque repellat fuga enim cum, commodi consequatur? Rerum cupiditate sunt recusandae! Est eius dignissimos, distinctio assumenda mollitia ab aperiam deleniti consequatur!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis deleniti possimus ex, odio accusantium nulla voluptates consequuntur corporis sint quia praesentium minus ducimus. Magnam, reiciendis saepe! Cum doloribus modi necessitatibus.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quisquam maxime. Quae ipsa beatae tempora totam asperiores. Nemo ducimus aliquid autem impedit, iusto neque ipsum quis sequi beatae quisquam accusantium!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium debitis similique perferendis unde quos, doloribus recusandae culpa sit non reprehenderit adipisci illo veritatis maiores est earum aliquid nisi possimus. Hic.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam architecto voluptatum consectetur illum dolores error! Optio, ipsam rem temporibus consequuntur et libero sunt reprehenderit eius hic quisquam aliquam adipisci alias.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas provident deserunt voluptatem mollitia vel est molestias reprehenderit commodi odit enim, fugit natus libero ipsam ducimus inventore earum distinctio quis consequuntur.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit ullam ab, iure in, eos facilis illum asperiores enim totam, est dolore alias sequi facere? Delectus reprehenderit eum iure animi.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa corporis cum fugiat nemo consectetur accusantium dolores, molestias itaque, sint accusamus perspiciatis ut cumque exercitationem aspernatur omnis. Autem, culpa iste?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto quisquam laborum eum unde dicta eius similique, vero earum animi possimus autem accusamus cupiditate. Quidem voluptates accusamus labore expedita iure!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, molestiae esse eligendi fuga atque suscipit ad sequi ducimus maxime vitae deserunt obcaecati consectetur soluta non dolorum neque eius sit alias?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet a harum voluptas expedita, quaerat ipsa, atque magnam optio accusamus officia ipsam. Iste numquam itaque, totam nam provident mollitia possimus at.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, nostrum laboriosam nulla quisquam cum fugiat temporibus, ipsam harum, velit cupiditate corrupti illum laudantium ut aliquam! Obcaecati aliquam nostrum voluptatum dolorum.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse illum magni labore dignissimos quidem molestias possimus ex ratione repellendus, nam consequuntur in ad distinctio qui ab voluptatibus sint aut.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora similique ex quaerat nobis suscipit in eos molestias officia corporis quae ullam quod perspiciatis quam explicabo velit laboriosam hic, autem obcaecati?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo blanditiis cum, exercitationem non eos. Et quo, odit id voluptates pariatur facilis, corporis esse quasi itaque culpa, tempore dicta! Quos?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam incidunt hic earum cum, quisquam maxime similique! Doloribus officiis iste, nisi porro cupiditate alias cum quos quia possimus earum? Accusantium?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ullam laborum quia ad quam tempora tempore expedita assumenda cupiditate, rerum, doloribus nobis. Quibusdam ipsum consectetur omnis porro? Consectetur, non aut.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem tempore nihil iste ab veritatis laboriosam, inventore fugit alias modi eius, sit soluta! Suscipit distinctio quod a natus, eius officiis?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum minus libero illo laboriosam, ipsa similique eum accusantium commodi autem quibusdam nemo, rerum porro, impedit iste. Maiores laudantium ea illo vitae!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque optio dolorum maxime aut voluptatibus nihil eligendi delectus perferendis, soluta saepe assumenda nisi, iste earum possimus suscipit doloribus at repellat nam.</p>
</Layout>
