---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<Hero />
	<section class="page-content">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	</section>
</Layout>
