---
// Layouts
import Layout from '../layouts/Layout.astro';
import Grid from '../layouts/Grid.astro'
---

<Layout title="Home">
	<Grid direction="column">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	</Grid>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem distinctio earum doloremque saepe minus non, accusantium, neque sed perferendis quam. Nobis commodi sapiente non ipsa ex laborum officiis aliquid.</p>	
</Layout>
