---
import '../styles/components/hero.scss'

---
<section class="hero">
    <div class="hero__content">
        <div class="hero__column">
            <div class="hero__column__content">
                <img src="/imgs/IMG_0135.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0136.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0137.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0138.jpg" alt="" class="hero__column__image">
            </div>
        </div>
        <div class="hero__column">
            <div class="hero__column__content">
                <img src="/imgs/IMG_0139.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0140.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0141.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0142.jpg" alt="" class="hero__column__image">
            </div>
        </div>
        <div class="hero__column">
            <div class="hero__column__content">
                <img src="/imgs/IMG_0143.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0144.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0145.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0146.jpg" alt="" class="hero__column__image">
            </div>
        </div>
        <div class="hero__column">
            <div class="hero__column__content">
                <img src="/imgs/IMG_0147.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0148.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0149.jpg" alt="" class="hero__column__image">
            </div>
            <div class="hero__column__content">
                <img src="/imgs/IMG_0150.jpg" alt="" class="hero__column__image">
            </div>
        </div>
    </div>
</section>
<script is:inline>
    document.querySelectorAll('.hero__column__content').forEach(function(node, i) {
        var newNode = node.cloneNode(true)
        newNode.setAttribute('aria-hidden', true)
        node.parentNode.appendChild(newNode)
    })
</script>