---
import '../styles/components/scrollThing.scss'

var scrollPadding = 1 + 'rem'
var text = [
    [
        'Coder', 
        'Photographer', 
        'Musician', 
        'Amateur Astronomer', 
    ], 
    [
        'Amateur Astronomer', 
        'Musician', 
        'Photographer', 
        'Coder', 
    ], 
]

---
<section class="scroll__thing" style={`--rows: ${text.length}; --padding: ${scrollPadding};`}>
    {
        text.map(item => {
            item = `<span class="scroll__item">${item.join('</span><span class="scroll__item">')}</span>`
            return (
                <div class="scroll__row" set:html={item}>
                    
                </div>
            )
        })
    }
</section>
<script>
    var cEle = document.createElement('div')
    cEle.style = `width: ${scrollPadding}`
    document.body.appendChild(cEle)
    var cWidth = cEle.clientWidth
    cEle.remove()

    var wWidth = window.innerWidth

    document.querySelectorAll('.scroll__thing .scroll__row .scroll__item').forEach(function(item, i) {
        var iWidth = item.clientWidth

        if (iWidth < wWidth) {
            var newNode = item.cloneNode(true)
            item.parentNode.appendChild(item)
            iWidth += (cWidth + newNode.clientWidth)
        }
    })
</script>