---
import '../styles/components/scrollThing.scss'

var text = [
    [
        'Coder', 
        'Photographer', 
        'Musician', 
        'Amateur Astronomer', 
    ], 
    [
        'Amateur Astronomer', 
        'Musician', 
        'Photographer', 
        'Coder', 
    ], 
]

---
<section class="scroll__thing" style={`--rows: ${text.length};`}>
    {
        text.map(item => {
            <div class="scroll__row">
                <span class="scroll__item">
                    {
                        item.map(t => {
                            <span>{t}</span>
                        })
                    }
                </span>
            </div>
        })
    }
</section>
<!-- <script is:inline>
    document.querySelectorAll('.hero__column__content').forEach(function(node, i) {
        var newNode = node.cloneNode(true)
        newNode.setAttribute('aria-hidden', true)
        node.parentNode.appendChild(newNode)
    })
</script> -->