.grid {
    display: grid;

    @for $i from 0 through 1000 {
        &[cells="#{$i}"] {
            --cells: #{$i};
        }
    }

    .column {
        grid-template-rows: repeat(var(--cells), 1fr);
    }
    .row {
        grid-template-columns: repeat(var(--cells), 1fr);
    }
}