---
import '../styles/layouts/grid.scss'

var { direction, cells } = Astro.props;
if (cells) cells = parseInt(cells)
if (!!cells === false || cells < 0) cells = 2

var className = ['grid', direction]
---
<section class={className.join(' ')} cells={cells}>
    <slot />
</section>