---
const sTitle = "Adarsh Kumar's Photos"

interface Props {
	title: string;
}

var { title } = Astro.props;

if (
	!!title && 
	title != null &&
	title !== '' && 
	title.toLowerCase() !== 'home'
) {
	title = `${title} | ${sTitle}`
}
else title = sTitle

// Imports
// Styles
import '../styles/globals.scss'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>