---
const sTitle = "Adarsh Kumar's Photos"
const sURL = 'https://photos.akum.site'

interface Props {
	title: string;
}

var { title } = Astro.props;

var dTitle = sTitle
if (
	!!title && 
	title != null &&
	title !== '' && 
	title.toLowerCase() !== 'home'
) {
	dTitle = `${title} | ${dTitle}`
}

var showHero = false
if (title === 'Home') showHero = true

// Components
import Hero from '../components/Hero.astro';
import ScrollThing from '../components/ScrollThing.astro';

// Styles
import '../styles/globals.scss'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{dTitle}</title>
	</head>
	<body>
		<main>
			{
				showHero ? (
					<Hero />
					<ScrollThing />
				) : ''
			}
			<section class="page-content">
				<slot />
			</section>
		</main>
	</body>
</html>